[submodule "opengrab-api-server"]
	path = opengrab-api-server
	url = git@188.187.124.11:opengrab/opengrab-api-server.git
        branch = master
[submodule "opengrab-tvxml-downloader"]
	path = opengrab-tvxml-downloader
	url = git@188.187.124.11:opengrab/opengrab-tvxml-downloader.git
	branch = master
[submodule "opengrab-sender"]
	path = opengrab-sender
	url = git@188.187.124.11:/opengrab/opengrab-sender.git
[submodule "opengrab-admin-telegram-bot"]
	path = opengrab-admin-telegram-bot
	url = git@188.187.124.11:opengrab/opengrab-admin-telegram-bot.git
